__pycache__/
*.py[cod]
*$py.class
build/
dist/
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt
.coverage
.tox/
.nox/
.pytest_cache/
env/
venv/
ENV/
*.env
*.env.*
.vscode/
.idea/
.DS_Store
Thumbs.db
docs/_build/